<p>Hallo <%= @resource.email %>!</p>

<p>Jemand möchte dein Passwort ändern. Du kannst das durch den untenstehenden Link machen.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du das nicht willst, ignoriere diese Email bitte.</p>
<p>Dein Passwort wird sich nicht ändern solange du den Link nicht anklickst und ein neues Passwort wählst.</p>
